/*colors*/


body {
   
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo', cursive;
}

header {
    background-color: #00BFFF;
    color: #ffffff;
    text-align: center;
    padding: 15px;
 
}

main {
    background-color: #ffdab9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    
   
 
}



nav a {
   
    color: #373736;
    text-decoration: none;
    border: 2px solid 373736;
    font-size: 30px;
    
}


.registration-form {
    max-width: 400px;
    width: 100%;
}

.registration-form h2 {
    text-align: center;
    color: #8B4513; 
}

.registration-form label {
    display: block;
    margin-top: 10px;
    color: #8B4513; 
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.registration-form button {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #8B0000;
}

img {
    width: 100%;
    height: auto;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

   }
   

   .products {
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: ;
    padding: 6px;
    
   }
   .Price {
    color:#8B0000;

    }
    
    .product-button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #FF0000;

     }